In [1]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
import datetime

In [3]:
df = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [4]:
pd.set_option('display.max_columns', None)

In [5]:
df.head()

,Customer Id,Artist Name,Artist Reputation,Height,Width,Weight,Material,Price Of Sculpture,Base Shipping Price,International,Express Shipment,Installation Included,Transport,Fragile,Customer Information,Remote Location,Scheduled Date,Delivery Date,Customer Location,Cost
0,fffe3900350033003300,Billy Jenkins,0.26,17.0,6.0,4128.0,Brass,13.91,16.27,Yes,Yes,No,Airways,No,Working Class,No,06/07/15,06/03/15,"New Michelle, OH 50777",-283.29
1,fffe3800330031003900,Jean Bryant,0.28,3.0,3.0,61.0,Brass,6.83,15.00,No,No,No,Roadways,No,Working Class,No,03/06/17,03/05/17,"New Michaelport, WY 12072",-159.96
2,fffe3600370035003100,Laura Miller,0.07,8.0,5.0,237.0,Clay,4.96,21.18,No,No,No,Roadways,Yes,Working Class,Yes,03/09/15,03/08/15,"Bowmanshire, WA 19241",-154.29
3,fffe350031003300,Robert Chaires,0.12,9.0,NaN,NaN,Aluminium,5.81,16.31,No,No,No,NaN,No,Wealthy,Yes,05/24/15,05/20/15,"East Robyn, KY 86375",-161.16
4,fffe3900320038003400,Rosalyn Krol,0.15,17.0,6.0,324.0,Aluminium,3.18,11.94,Yes,Yes,Yes,Airways,No,Working Class,No,12/18/16,12/14/16,"Aprilside, PA 52793",-159.23

In [6]:
df.describe()

,Artist Reputation,Height,Width,Weight,Price Of Sculpture,Base Shipping Price,Cost
count,5750.000000,6125.000000,5916.000000,5.913000e+03,6500.00000,6500.000000,6.500000e+03
mean,0.461850,21.766204,9.617647,4.006948e+05,1192.42009,37.407174,1.713920e+04
std,0.265781,11.968192,5.417000,2.678081e+06,8819.61675,26.873519,2.406579e+05
min,0.000000,3.000000,2.000000,3.000000e+00,3.00000,10.000000,-8.801727e+05
25%,0.240000,12.000000,6.000000,5.030000e+02,5.23000,16.700000,1.884400e+02
50%,0.450000,20.000000,8.000000,3.102000e+03,8.02500,23.505000,3.820650e+02
75%,0.680000,30.000000,12.000000,3.645600e+04,89.47000,57.905000,1.156115e+03
max,1.000000,73.000000,50.000000,1.179279e+08,382385.67000,99.980000,1.114343e+07

In [7]:
df['Cost'] = df['Cost'].abs()

In [8]:
df.describe()

,Artist Reputation,Height,Width,Weight,Price Of Sculpture,Base Shipping Price,Cost
count,5750.000000,6125.000000,5916.000000,5.913000e+03,6500.00000,6500.000000,6.500000e+03
mean,0.461850,21.766204,9.617647,4.006948e+05,1192.42009,37.407174,1.883983e+04
std,0.265781,11.968192,5.417000,2.678081e+06,8819.61675,26.873519,2.405307e+05
min,0.000000,3.000000,2.000000,3.000000e+00,3.00000,10.000000,8.607000e+01
25%,0.240000,12.000000,6.000000,5.030000e+02,5.23000,16.700000,2.267950e+02
50%,0.450000,20.000000,8.000000,3.102000e+03,8.02500,23.505000,4.581550e+02
75%,0.680000,30.000000,12.000000,3.645600e+04,89.47000,57.905000,1.366273e+03
max,1.000000,73.000000,50.000000,1.179279e+08,382385.67000,99.980000,1.114343e+07

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Customer Id            6500 non-null   object
 1   Artist Name            6500 non-null   object
 2   Artist Reputation      5750 non-null   float64
 3   Height                 6125 non-null   float64
 4   Width                  5916 non-null   float64
 5   Weight                 5913 non-null   float64
 6   Material               5736 non-null   object
 7   Price Of Sculpture     6500 non-null   float64
 8   Base Shipping Price    6500 non-null   float64
 9   International          6500 non-null   object
 10  Express Shipment       6500 non-null   object
 11  Installation Included  6500 non-null   object
 12  Transport              5108 non-null   object
 13  Fragile                6500 non-null   object
 14  Customer Information   6500 non-null   object
 15  Remote Location        5729 non-null   object
 16  Scheduled Date         6500 non-null   object
 17  Delivery Date          6500 non-null   object
 18  Customer Location      6500 non-null   object
 19  Cost                   6500 non-null   float64
dtypes: float64(7), object(13)
memory usage: 1015.8+ KB

In [15]:
def summary(df):
    print(f"Dataset Shape: {df.shape}")
    summary= pd.DataFrame(df.dtypes, columns=['dtypes'])
    summary= summary.reset_index()
    summary['Feature Name'] = summary['index']
    summary = summary[['Feature Name', 'dtypes']]
    summary['missing'] = df.isnull().sum().values
    summary['Uniques'] = df.nunique().values
    return summary

summary(df)

Dataset Shape: (6500, 20)

             Feature Name   dtypes  missing  Uniques
0             Customer Id   object        0     6500
1             Artist Name   object        0     6449
2       Artist Reputation  float64      750      101
3                  Height  float64      375       65
4                   Width  float64      584       40
5                  Weight  float64      587     4410
6                Material   object      764        7
7      Price Of Sculpture  float64        0     3424
8     Base Shipping Price  float64        0     3732
9           International   object        0        2
10       Express Shipment   object        0        2
11  Installation Included   object        0        2
12              Transport   object     1392        3
13                Fragile   object        0        2
14   Customer Information   object        0        2
15        Remote Location   object      771        2
16         Scheduled Date   object        0     1660
17          Delivery Date   object        0     1664
18      Customer Location   object        0     6500
19                   Cost  float64        0     6316

In [10]:
df.drop(['Customer Id','Artist Name'],axis =1, inplace = True)

In [ ]:
df['Scheduled Date'] = pd.to_datetime(df['Scheduled Date'])
df['Delivery Date'] = pd.to_datetime(df['Delivery Date'])

In [12]:
df['duration'] = (df['Scheduled Date']- df['Delivery Date']).dt.days

In [13]:
df['duration'].value_counts(sort = True)

duration
 0    1374
 4     676
-1     669
 2     660
-2     635
 1     634
-4     628
 3     623
-3     601
Name: count, dtype: int64

In [14]:
df.drop(['Scheduled Date','Delivery Date','duration'], axis = 1, inplace = True)

In [15]:
df['State']= df['Customer Location'].str.split(" ").str[-2]
df.drop(['Customer Location'], axis = 1, inplace = True)

In [16]:
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression

In [17]:
imputed_height_values = np.random.choice(df[~df['Height'].isna()]['Height'].values, size = df['Height'].isna().sum())
height_null_indices = df[df['Height'].isna()].index

df.loc[height_null_indices, 'Height'] = imputed_height_values


imputed_width_values = np.random.choice(df[~df['Width'].isna()]['Width'].values, size = df['Width'].isna().sum())
width_null_indices = df[df['Width'].isna()].index

df.loc[width_null_indices, 'Width'] = imputed_width_values


imputed_artist_values = np.random.choice(df[~df['Artist Reputation'].isna()]['Artist Reputation'].values, size = df['Artist Reputation'].isna().sum())
artist_null_indices = df[df['Artist Reputation'].isna()].index

df.loc[artist_null_indices, 'Artist Reputation'] = imputed_artist_values

1. range based on which height is being imputed?

In [18]:
df.describe()

,Artist Reputation,Height,Width,Weight,Price Of Sculpture,Base Shipping Price,Cost
count,6500.000000,6500.000000,6500.000000,5.913000e+03,6500.00000,6500.000000,6.500000e+03
mean,0.459638,21.730615,9.625538,4.006948e+05,1192.42009,37.407174,1.883983e+04
std,0.265440,11.946174,5.391641,2.678081e+06,8819.61675,26.873519,2.405307e+05
min,0.000000,3.000000,2.000000,3.000000e+00,3.00000,10.000000,8.607000e+01
25%,0.240000,12.000000,6.000000,5.030000e+02,5.23000,16.700000,2.267950e+02
50%,0.440000,20.000000,8.000000,3.102000e+03,8.02500,23.505000,4.581550e+02
75%,0.670000,30.000000,12.000000,3.645600e+04,89.47000,57.905000,1.366273e+03
max,1.000000,73.000000,50.000000,1.179279e+08,382385.67000,99.980000,1.114343e+07

In [19]:
df

,Artist Reputation,Height,Width,Weight,Material,Price Of Sculpture,Base Shipping Price,International,Express Shipment,Installation Included,Transport,Fragile,Customer Information,Remote Location,Cost,State
0,0.26,17.0,6.0,4128.0,Brass,13.91,16.27,Yes,Yes,No,Airways,No,Working Class,No,283.29,OH
1,0.28,3.0,3.0,61.0,Brass,6.83,15.00,No,No,No,Roadways,No,Working Class,No,159.96,WY
2,0.07,8.0,5.0,237.0,Clay,4.96,21.18,No,No,No,Roadways,Yes,Working Class,Yes,154.29,WA
3,0.12,9.0,10.0,NaN,Aluminium,5.81,16.31,No,No,No,NaN,No,Wealthy,Yes,161.16,KY
4,0.15,17.0,6.0,324.0,Aluminium,3.18,11.94,Yes,Yes,Yes,Airways,No,Working Class,No,159.23,PA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6495,0.37,37.0,10.0,16551.0,Brass,28.28,38.46,Yes,Yes,No,Airways,No,Wealthy,Yes,872.43,VT
6496,0.67,15.0,6.0,18981.0,NaN,67.18,27.72,No,No,No,Roadways,No,Working Class,No,1347.02,VA
6497,0.68,19.0,8.0,587.0,Clay,6.92,10.38,Yes,No,No,NaN,Yes,Wealthy,No,354.55,MA
6498,0.02,33.0,9.0,1269377.0,Stone,2929.13,69.76,No,Yes,No,Roadways,No,Working Class,Yes,5037.50,UT
6499,0.18,30.0,13.0,34729.0,Brass,46.63,78.25,No,Yes,No,Airways,No,Working Class,No,722.47,AK

In [20]:
numerical_cols = ['Artist Reputation','Height','Width'	,'Weight','Price Of Sculpture','Base Shipping Price']

In [21]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse = False, handle_unknown = 'ignore')

In [ ]:
df_encoded = encoder.fit_transform(df[['Material','International','Express Shipment', 'Installation Included','Transport','Fragile', 'Customer Information', 'Remote Location']])

In [23]:
df_encoded = pd.DataFrame(df_encoded,  columns = encoder.get_feature_names_out(['Material','International','Express Shipment','Installation Included','Transport','Fragile', 'Customer Information', 'Remote Location']))

In [24]:
df_encoded.sample(5)

,Material_Aluminium,Material_Brass,Material_Bronze,Material_Clay,Material_Marble,Material_Stone,Material_Wood,Material_nan,International_No,International_Yes,Express Shipment_No,Express Shipment_Yes,Installation Included_No,Installation Included_Yes,Transport_Airways,Transport_Roadways,Transport_Waterways,Transport_nan,Fragile_No,Fragile_Yes,Customer Information_Wealthy,Customer Information_Working Class,Remote Location_No,Remote Location_Yes,Remote Location_nan
5589,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
3735,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
5626,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
4195,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
5053,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0

In [25]:
df_encoded.drop(['Transport_nan', 'Remote Location_nan','Material_nan'], axis = 1, inplace = True)

In [26]:
X = pd.concat([df[numerical_cols] , df_encoded], axis= 1)

In [27]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)
imputed_df = imputer.fit_transform(X)

1. How does KNN imputer work
2. Should exclude 1 feature which is to be computed

In [28]:
X = pd.DataFrame(imputed_df, columns=X.columns)

In [29]:
X.isna().sum()

Artist Reputation                     0
Height                                0
Width                                 0
Weight                                0
Price Of Sculpture                    0
Base Shipping Price                   0
Material_Aluminium                    0
Material_Brass                        0
Material_Bronze                       0
Material_Clay                         0
Material_Marble                       0
Material_Stone                        0
Material_Wood                         0
International_No                      0
International_Yes                     0
Express Shipment_No                   0
Express Shipment_Yes                  0
Installation Included_No              0
Installation Included_Yes             0
Transport_Airways                     0
Transport_Roadways                    0
Transport_Waterways                   0
Fragile_No                            0
Fragile_Yes                           0
Customer Information_Wealthy          0
Customer Information_Working Class    0
Remote Location_No                    0
Remote Location_Yes                   0
dtype: int64

In [30]:
df_new = pd.concat([X , df['Cost']], axis =1)

In [31]:
df_new.head()

,Artist Reputation,Height,Width,Weight,Price Of Sculpture,Base Shipping Price,Material_Aluminium,Material_Brass,Material_Bronze,Material_Clay,Material_Marble,Material_Stone,Material_Wood,International_No,International_Yes,Express Shipment_No,Express Shipment_Yes,Installation Included_No,Installation Included_Yes,Transport_Airways,Transport_Roadways,Transport_Waterways,Fragile_No,Fragile_Yes,Customer Information_Wealthy,Customer Information_Working Class,Remote Location_No,Remote Location_Yes,Cost
0,0.26,17.0,6.0,4128.0,13.91,16.27,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,283.29
1,0.28,3.0,3.0,61.0,6.83,15.00,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,159.96
2,0.07,8.0,5.0,237.0,4.96,21.18,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,154.29
3,0.12,9.0,10.0,508.4,5.81,16.31,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,161.16
4,0.15,17.0,6.0,324.0,3.18,11.94,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,159.23

In [51]:
df_new

,Artist Reputation,Height,Width,Weight,Price Of Sculpture,Base Shipping Price,Material_Aluminium,Material_Brass,Material_Bronze,Material_Clay,Material_Marble,Material_Stone,Material_Wood,International_No,International_Yes,Express Shipment_No,Express Shipment_Yes,Installation Included_No,Installation Included_Yes,Transport_Airways,Transport_Roadways,Transport_Waterways,Fragile_No,Fragile_Yes,Customer Information_Wealthy,Customer Information_Working Class,Remote Location_No,Remote Location_Yes,Cost
0,0.26,17.0,6.0,4128.0,13.91,16.27,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,283.29
1,0.28,3.0,3.0,61.0,6.83,15.00,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,159.96
2,0.07,8.0,5.0,237.0,4.96,21.18,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,154.29
3,0.12,9.0,10.0,508.4,5.81,16.31,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,161.16
4,0.15,17.0,6.0,324.0,3.18,11.94,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,159.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6489,0.93,20.0,8.0,649.0,4.85,24.78,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,747.42
6491,0.67,13.0,8.0,475.0,3.65,12.93,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,294.62
6493,0.63,13.0,8.0,154.0,5.33,13.00,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,174.57
6495,0.37,37.0,10.0,16551.0,28.28,38.46,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,872.43
6497,0.68,19.0,8.0,587.0,6.92,10.38,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,354.55

In [32]:
def remove_outliers_iqr(dataframe, column):
    data = dataframe[column]
    Q1 = data.quantile(0.25)
    Q3 = data.quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    cleaned_dataframe = dataframe[(data > lower_bound) & (data < upper_bound)]
    return cleaned_dataframe

In [33]:
df_new = remove_outliers_iqr(df_new, 'Height')
df_new = remove_outliers_iqr(df_new, 'Width')
df_new = remove_outliers_iqr(df_new, 'Weight')
df_new = remove_outliers_iqr(df_new, 'Price Of Sculpture')

1. Add documentation of how many rows were removed at each step of preprocessing

In [34]:
df_new.head()

,Artist Reputation,Height,Width,Weight,Price Of Sculpture,Base Shipping Price,Material_Aluminium,Material_Brass,Material_Bronze,Material_Clay,Material_Marble,Material_Stone,Material_Wood,International_No,International_Yes,Express Shipment_No,Express Shipment_Yes,Installation Included_No,Installation Included_Yes,Transport_Airways,Transport_Roadways,Transport_Waterways,Fragile_No,Fragile_Yes,Customer Information_Wealthy,Customer Information_Working Class,Remote Location_No,Remote Location_Yes,Cost
0,0.26,17.0,6.0,4128.0,13.91,16.27,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,283.29
1,0.28,3.0,3.0,61.0,6.83,15.00,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,159.96
2,0.07,8.0,5.0,237.0,4.96,21.18,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,154.29
3,0.12,9.0,10.0,508.4,5.81,16.31,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,161.16
4,0.15,17.0,6.0,324.0,3.18,11.94,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,159.23

In [35]:
df_new.drop(['Artist Reputation','Material_Aluminium','Material_Brass','Material_Bronze','Material_Clay','Material_Marble','Material_Stone','Material_Wood','Installation Included_No','Installation Included_Yes','Customer Information_Wealthy','Customer Information_Working Class',],axis=1)

,Height,Width,Weight,Price Of Sculpture,Base Shipping Price,International_No,International_Yes,Express Shipment_No,Express Shipment_Yes,Transport_Airways,Transport_Roadways,Transport_Waterways,Fragile_No,Fragile_Yes,Remote Location_No,Remote Location_Yes,Cost
0,17.0,6.0,4128.0,13.91,16.27,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,283.29
1,3.0,3.0,61.0,6.83,15.00,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,159.96
2,8.0,5.0,237.0,4.96,21.18,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,154.29
3,9.0,10.0,508.4,5.81,16.31,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,161.16
4,17.0,6.0,324.0,3.18,11.94,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,159.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6489,20.0,8.0,649.0,4.85,24.78,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,747.42
6491,13.0,8.0,475.0,3.65,12.93,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,294.62
6493,13.0,8.0,154.0,5.33,13.00,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,174.57
6495,37.0,10.0,16551.0,28.28,38.46,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,872.43
6497,19.0,8.0,587.0,6.92,10.38,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,354.55

In [36]:
X = df_new.drop('Cost', axis = 1)
y = df_new['Cost']

In [37]:
from sklearn.model_selection import train_test_split

In [38]:
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .3, random_state = 42)

In [40]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [41]:
from xgboost import XGBRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import r2_score, mean_squared_error

In [42]:
xgb = XGBRegressor()
param_grid = {
    'learning_rate': [0.01, 0.1, 0.2],
    'max_depth': [3, 6],
    'n_estimators': [100, 200],
}

xgb_grid = GridSearchCV(estimator=xgb, param_grid=param_grid, cv=5)
xgb_grid.fit(X_train, y_train)

y_pred = xgb_grid.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

n = len(y_test)  # Number of samples
p = X_test.shape[1]  # Number of predictors

adjusted_r2 = 1 - (1 - r2) * (n - 1) / (n - p - 1)

accuracy_score = adjusted_r2 * 100
print('Accuracy Score:', accuracy_score)


print('Best parameters:', xgb_grid.best_params_)
print('RMSE:', rmse)
print('R-squared:', r2)

Accuracy Score: 72.01657349187359
Best parameters: {'learning_rate': 0.1, 'max_depth': 3, 'n_estimators': 200}
RMSE: 198.41638958232775
R-squared: 0.7263353092669842

In [43]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error, r2_score

rf = RandomForestRegressor()
param_grid_rf = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 3, 6]
}

rf_grid = GridSearchCV(estimator=rf, param_grid=param_grid_rf, cv=5)
rf_grid.fit(X_train, y_train)

y_pred = rf_grid.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

adjusted_r2 = 1 - (1 - r2) * (len(y_test) - 1) / (len(y_test) - X_test.shape[1] - 1)
accuracy_score = adjusted_r2 * 100

print('Accuracy Score:', accuracy_score)

print('Best parameters:', rf_grid.best_params_)
print('RMSE:', rmse)
print('R-squared:', r2)

Accuracy Score: 66.62263031782317
Best parameters: {'max_depth': None, 'n_estimators': 300}
RMSE: 216.69712601005534
R-squared: 0.6735850933443809

In [46]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Initialize and fit the linear regression model
lr = LinearRegression()
lr.fit(X_train, y_train)

# Make predictions
y_pred = lr.predict(X_test)

# Calculate evaluation metrics
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

# Calculate accuracy score
accuracy_score = r2 * 100

# Print results
print('RMSE:', rmse)
print('R-squared:', r2)
print('Accuracy Score:', accuracy_score)

RMSE: 262.12538930577125
R-squared: 0.5223807108544951
Accuracy Score: 52.23807108544951

In [47]:
from lightgbm import LGBMRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Initialize and fit the LGBMRegressor model
lgbm = LGBMRegressor()
lgbm.fit(X_train, y_train)

# Make predictions
y_pred = lgbm.predict(X_test)

# Calculate evaluation metrics
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

# Calculate accuracy score
accuracy_score = r2 * 100

# Print results
print('RMSE:', rmse)
print('R-squared:', r2)
print('Accuracy Score:', accuracy_score)

RMSE: 194.46152297164835
R-squared: 0.7371360398942863
Accuracy Score: 73.71360398942863

In [48]:
from sklearn.ensemble import HistGradientBoostingRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Initialize and fit the HistGradientBoostingRegressor model
hgb = HistGradientBoostingRegressor()
hgb.fit(X_train, y_train)

# Make predictions
y_pred = hgb.predict(X_test)

# Calculate evaluation metrics
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

# Calculate accuracy score
accuracy_score = r2 * 100

# Print results
print('RMSE:', rmse)
print('R-squared:', r2)
print('Accuracy Score:', accuracy_score)

RMSE: 193.36255254971672
R-squared: 0.7400987178815075
Accuracy Score: 74.00987178815075

1. Currently only partitioning training dataset

In [49]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Initialize and fit the DecisionTreeRegressor model
dt = DecisionTreeRegressor()
dt.fit(X_train, y_train)

# Make predictions
y_pred = dt.predict(X_test)

# Calculate evaluation metrics
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

# Calculate accuracy score
accuracy_score = r2 * 100

# Print results
print('RMSE:', rmse)
print('R-squared:', r2)
print('Accuracy Score:', accuracy_score)

RMSE: 285.55834971145424
R-squared: 0.4331692427533367
Accuracy Score: 43.31692427533367

In [50]:
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Initialize and fit the ExtraTreesRegressor model
et = ExtraTreesRegressor()
et.fit(X_train, y_train)

# Make predictions
y_pred = et.predict(X_test)

# Calculate evaluation metrics
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

# Calculate accuracy score
accuracy_score = r2 * 100

# Print results
print('RMSE:', rmse)
print('R-squared:', r2)
print('Accuracy Score:', accuracy_score)

RMSE: 215.8906938186487
R-squared: 0.6760100602931438
Accuracy Score: 67.60100602931438

1. Sample submission
2. Script
3. Document step by step
4. By next week mid show some report